/*适用于所有网站css*/

body {
    font: 16px/1 '微软雅黑', Tahoma, Helvetica, Arial, sans-serif;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}