.left-corner ul {
    border: 1px solid #ccc;
}

.main {
    margin-top: 70px;
}

#article-view .title {
    text-align: center;
}

#article-view .content {
    text-indent: 20px;
}

#article-edit textarea {
    min-height: 463px;
}

#article-edit ul {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 480px;
}

#article-edit .head {
    height: 100px;
}

#article-edit .head > div {
    margin-left: 25px;
    margin-top: 60px;
}

#article-edit textarea {
    min-height: 463px;
}

#article-edit ul {
    border: 1px solid #ccc;
    padding: 10px;
    height: 480px;
    overflow-y: auto;
}

#article-edit .head {
    height: 100px;
}

#article-edit .head > div {
    margin-left: 25px;
    margin-top: 60px;
}

#article-edit .publish.disable {
    background: #ccc;
    color: #fff;
    cursor: default;
}